In [2]:
import pandas as pd

# Initial Data Analysis

In [3]:
csv_file_name = "reed_uk.csv"
df = pd.read_csv(csv_file_name)

In [4]:
df.head(15)

,category,city,company_name,geo,job_board,job_description,job_requirements,job_title,job_type,post_date,salary_offered,state
0,catering jobs,Chudleigh,Haulfryn Group,uk,reed,Apply now New opportunity not to be missed! H...,NaN,Commis Chef,"Permanent, full-time",3/12/2018,"£18,323 per annum",Devon
1,law jobs,Swindon,Reed,uk,reed,Apply now This role requires an experienced s...,NaN,Corporate Legal Secretary,"Permanent, full-time",3/8/2018,"£18,000 - £22,000 per annum",Wiltshire
2,factory jobs,Norfolk,Swanstaff Recruitment Ltd,uk,reed,Apply now Job Title: Warehouse personLocation...,NaN,Warehouse Person,"Permanent, full-time",2/27/2018,Salary not specified,East Anglia
3,law jobs,Hurstpierpoint,Castles Solicitors,uk,reed,Apply now Castles Solicitors are looking for ...,Required skills Admin Case Management Corresp...,Legal Secretary / Admin Assistant,"Permanent, full-time or part-time",2/21/2018,"£15,000 - £17,000 per annum, pro-rata",West Sussex
4,factory jobs,Hertfordshire,Marketplace Group,uk,reed,Apply now International Pharmaceutical Manufa...,NaN,Category Planner - Pharmaceutical,"Permanent, full-time",3/1/2018,"£37,000 - £45,000 per annum",South East England
5,retail jobs,Belfast,Vodafone,uk,reed,Apply on employer's website Retail Advisor - ...,NaN,Retail Adviser 20hrs/week - Belfast Donnegal P...,"Permanent, part-time",3/12/2018,"£9,100 - £9,152 per annum, OTE",County Antrim
6,factory jobs,Thetford,Hales Group Limited,uk,reed,"Apply now Break Press Operator - Permanent, Â...",NaN,Break Press Operator,"Permanent, full-time",2/28/2018,£9.25 - £10.15 per hour,Norfolk
7,motoring automotive jobs,Luton,Fine Recruiting Ltd,uk,reed,Apply now An exciting opportunity to start wi...,Required skills Accident Paint Repair Spray P...,Vehicle Paint Sprayer,"Permanent, full-time",3/2/2018,"£35,000 - £40,000 per annum",Bedfordshire
8,motoring automotive jobs,Blackburn,Audi,uk,reed,Apply on employer's website This exciting opp...,NaN,Vehicle Technician,"Permanent, full-time",2/28/2018,"£23,000 - £26,600 per annum",Lancashire
9,law jobs,Leeds,Rachel Clark Legal Recruitment,uk,reed,"Apply now This highly regarded, top law firm ...",Required skills Diary Management Legal Secret...,LEGAL SECRETARY,"Permanent, full-time",3/12/2018,"£18,000 - £25,000 per annum, inc benefits",West Yorkshire
10,motoring automotive jobs,Bermuda Park,Keastone Recruitment,uk,reed,Apply now The Opportunity This is a remarkabl...,Required skills Car Dealership Sales Sales Ex...,Sales Executive (Automotive Main Dealer),"Permanent, full-time",3/12/2018,"£12,000 - £40,000 per annum, OTE",Warwickshire
11,law jobs,Leeds,IPS Group,uk,reed,Apply now Talented junior solicitor is requir...,NaN,"Commercial Property Solicitor, North Yorks","Permanent, full-time",3/12/2018,"£30,000 - £40,000 per annum",West Yorkshire
12,retail jobs,Stevenage,Matalan,uk,reed,Apply on employer's website About the Role As...,NaN,Assistant Store Manager,"Permanent, full-time",3/6/2018,Competitive salary,Hertfordshire
13,retail jobs,London,New Look Retailers Ltd,uk,reed,Apply on employer's website Every person make...,NaN,"Buying, Merchandising & Design Support Assistant","Permanent, full-time",2/28/2018,Competitive salary,South East England
14,hr jobs,Whitehaven,Civil Nuclear Constabulary,uk,reed,Apply on employer's website Civil Nuclear Con...,NaN,HR Business Partner,"Contract, full-time",3/7/2018,"£44,000 per annum",Cumbria

In [5]:
# DATASET INFO
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category          50000 non-null  object
 1   city              50000 non-null  object
 2   company_name      50000 non-null  object
 3   geo               50000 non-null  object
 4   job_board         50000 non-null  object
 5   job_description   50000 non-null  object
 6   job_requirements  20548 non-null  object
 7   job_title         50000 non-null  object
 8   job_type          50000 non-null  object
 9   post_date         50000 non-null  object
 10  salary_offered    50000 non-null  object
 11  state             49980 non-null  object
dtypes: object(12)
memory usage: 4.6+ MB
None

At a first glance, we notice that the row column job_requirements contains less than half of the total records non-null values. These job offers may be considered internships or jobs for novice and could be later analyzed to see the distribution of the job offers by categories and/or location.

Additionally, There are 20 states missing in the records that must be filled with a value, such as "Other".

In [6]:
# Checking country values
countries = df.geo
print(countries.unique())

['uk']

uk is the only country listed, it can be ignored in the graph

In [7]:
job_board = df.job_board
# reed is the only value in the job_board column, it can be ignored in the graph
print(job_board.unique())

['reed']

In [8]:
# Checking unique Categories
categories = df.category
unique_categories = categories.unique()
print("There are %d unique categories in the dataset" % unique_categories.size)
print(categories.value_counts().sort_values(ascending=False))

There are 37 unique categories in the dataset
health jobs                           1930
education jobs                        1898
it jobs                               1890
logistics jobs                        1885
construction property jobs            1859
engineering jobs                      1858
accountancy jobs                      1856
sales jobs                            1855
accountancy qualified jobs            1836
social care jobs                      1823
admin secretarial pa jobs             1799
finance jobs                          1793
factory jobs                          1755
recruitment consultancy jobs          1747
motoring automotive jobs              1578
retail jobs                           1559
customer service jobs                 1548
catering jobs                         1536
law jobs                              1535
marketing jobs                        1463
other jobs                            1452
hr jobs                               1366
banking jobs                          1097
science jobs                          1071
purchasing jobs                       1045
fmcg jobs                             1018
graduate training internships jobs    1003
leisure tourism jobs                   954
charity jobs                           939
media digital creative jobs            915
estate agent jobs                      905
general insurance jobs                 854
strategy consultancy jobs              785
security safety jobs                   660
energy jobs                            650
training jobs                          161
apprenticeships jobs                   122
Name: category, dtype: int64

In [9]:
# Check how many unique job titles are there in the dataset and its count
num_unique_titles = df.job_title.unique().size
print("There are %d unique job titles" % num_unique_titles)
print(df.job_title.value_counts()[:15].sort_values(ascending=False))

There are 29155 unique job titles
Administrator               162
Customer Service Advisor    145
Management Accountant       139
Warehouse Operative         131
Recruitment Consultant      120
Care Assistant              111
Buyer                       111
Account Manager             111
Vehicle Technician          108
Support Worker              107
Sales Executive             102
Accounts Assistant          101
Finance Manager              99
HR Administrator             94
Project Manager              89
Name: job_title, dtype: int64

In [10]:
print("----------------------------")
# Checking how many unique companies are there in the dataset
companies = df.company_name
print("There are %d unique companies" % len(companies.unique()))
print(companies.value_counts()[:15].sort_values(ascending=False))

----------------------------
There are 5166 unique companies
Hays Specialist Recruitment Limited                 1830
Reed                                                 804
Search Consultancy                                   534
Pareto                                               450
Adecco UK Limited                                    355
SW6 Associates Ltd                                   302
Randstad Construction, Property and Engineering      287
Rise Technical Recruitment Limited                   280
Interaction Recruitment                              267
Reed Accountancy                                     266
G2 Legal Limited                                     223
Auto Skills UK                                       215
ESG Recruitment                                      196
Page Personnel Finance                               193
Reed Insurance                                       185
Name: company_name, dtype: int64

In [41]:
# Checking skills values
requirements = df.job_requirements
requirements_not_null = requirements[requirements.notnull()].apply(lambda req: req.replace("Required skills", ""))
print(requirements_not_null.unique().size)
requirements_not_null.value_counts()[:15].sort_values(ascending=False)

14887

  Recruitment                                                                                                                                                                             123
  Customer Service                                                                                                                                                                         84
  Buying Category Procurement Purchase Purchasing Sourcing Supply Chain Buyer Purchaser                                                                                                    59
  Sales                                                                                                                                                                                    52
  QTS                                                                                                                                                                                      46
  Mobile Patrol Security SIA retail SIA Licence Security Officer Door Supervisor security guard Retail Security Officer retail security Door Steward Retail Mobile Relief Store Guard      43
  HGV C+E licence LGV 1 Class 1 driver lorry driver                                                                                                                                        42
  Graduate. Sales. Training. Trainee Graduate Trainee Executive                                                                                                                            33
  Closing Cold Calling Direct Sales Lead Generation Telesales                                                                                                                              31
  Apprenticeship                                                                                                                                                                           28
  Appointments Commission Consultative Sales Sales Representative Selling                                                                                                                  28
  Call Centre Retail Sales Representative Customer service Sales Assistant                                                                                                                 25
  Restaurant Supervisor Team Leader Manager Assistant Manager food pub gastro bar branded Pub management beverage career progression gastropub traditional managed pub                     24
  Security retail Security Officer security guard Retail Security Officer retail security Retail Mobile Relief                                                                             23
  Guarding Loss Prevention Retail Security SIA Security Guarding                                                                                                                           22
Name: job_requirements, dtype: int64

There are 20548 skills required for differents jobs, but only 14887 are unique. The words Required Skills can be ignored.

# NEO4J PRE-VISUALIZATION

In [26]:
from py2neo import Graph, Node, Relationship

In [61]:
graph = Graph("bolt://localhost:7687", auth=('neo4j', 'password'))
graph.delete_all()

# graph.run("CREATE CONSTRAINT ON (co:Company) ASSERT co.name IS UNIQUE")
# graph.run("CREATE CONSTRAINT ON (jr:JobRequirement) ASSERT jr.name IS UNIQUE")
# graph.run("CREATE CONSTRAINT ON (jt:JobTitle) ASSERT jt.name IS UNIQUE")
# graph.run("CREATE CONSTRAINT ON (ct:City) ASSERT ct.name IS UNIQUE")
# graph.run("CREATE CONSTRAINT ON (st:State) ASSERT st.name IS UNIQUE")
# graph.run("CREATE CONSTRAINT ON (cat:Category) ASSERT cat.name IS UNIQUE")

In [ ]:
for index, row in df.iterrows():
    job_title = Node("JobTitle", name=row.job_title.lower())
    job_title.__primarylabel__ = "JobTitle"
    job_title.__primarykey__ = "name"
    graph.merge(job_title)
    
    job_offer = Node("Job Offer", name=row.job_description, job_type=row.job_type,salary=row.salary_offered)
    job_offer.__primarylabel__ = "Job Offer"
    job_offer.__primarykey__ = "name"
    graph.merge(job_offer)
    
    graph.merge(Relationship(job_title, "HAS", job_offer))
    
    category = Node("Category", name=row.category.lower())
    category.__primarylabel__ = "Category"
    category.__primarykey__ = "name"
    graph.merge(category)
    
    graph.merge(Relationship(job_offer, "BELONGS TO", job_title))
    
    city = Node("City", name=row.city.lower())
    city.__primarylabel__ = "City"
    city.__primarykey__ = "name"
    graph.merge(city)
    
    # Algunos estados son NaN
    raw_state = row.state
    if not pd.isna(raw_state):
        state = Node("State", name=row.state.lower())
    else:
        state = state = Node("State", name="other")
        
    state.__primarylabel__ = "State"
    state.__primarykey__ = "name"
    graph.merge(state)
    
    graph.merge(Relationship(city, "LOCATED IN", state))
    graph.merge(Relationship(job_offer, "OFFERED IN", city))
    
    company = Node("Company", name=row.company_name.lower())
    company.__primarylabel__ = "Company"
    company.__primarykey__ = "name"
    graph.merge(company)
    
    graph.merge(Relationship(job_offer, "OFFERED BY", company))
    
    raw_job_requirement = row.job_requirements
    if not pd.isna(raw_job_requirement):
        job_requirement = Node("JobRequirement", name=raw_job_requirement.lower().replace("required skills", ""))
        job_requirement.__primarylabel__ = "JobRequirement"
        job_requirement.__primarykey__ = "name"
        graph.merge(job_requirement)
        
        graph.merge(Relationship(job_offer, "REQUIRES", job_requirement))